/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
}

/* COMMON STYLES */

img {
  width: 100%;
  object-fit: cover;
}
body {
  background-color: rgb(215, 209, 209);
}
.common-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.common-button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px 3rem;
  margin: auto;
  width: auto;
}

/* NAVBAR STYLES */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  font-family: "Arimo", sans-serif;
  margin: 0 60px;
}
.nav-icon-parent img {
  object-fit: cover;
}
.nav-menu-parent ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav-menu-parent ul li a {
  text-decoration: none;
  color: #575757;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

/* BANNER STYLES */

.banner-parent {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(232deg, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
    url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-heading {
  margin-top: 5rem;
  font-weight: bold;
  font-size: 80px;
}
.banner-paragraph {
  margin-top: 1.25rem;
  font-size: 22px;
}
.banner-button {
  margin-bottom: 4rem;
  padding: 1.5rem 3rem;
  border-radius: 10px;
  font-size: 24px;
}

/* SPEAKERS STYLES */

.speakers-parent {
  font-family: "Inter", sans-serif;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  gap: 10px;
}
.speakers-parent h1 {
  color: #000102;
  font-weight: bold;
  font-size: 56px;
}
.speakers-cards-parent {
  padding: 20px 90px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.common-card {
  border: 2px solid #e5e7eb;
  border-radius: 0.75rem;
  overflow: hidden;
}

.speaker-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.speaker-track {
  color: #2563eb;
  font-size: 12px;
  /* semi bold font weight */
  font-weight: 600;
}

.speaker-name {
  color: #0d1b2a;
  font-size: 20px;
  font-weight: bold;
}

.speaker-company {
  color: #575757;
  font-size: 14px;
}

/* PRICING Styles */

.pricing-parent {
  font-family: "Inter", sans-serif;
}

.pricing-card-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 140px 60px;
  gap: 20px;
  /* margin: auto;
  padding: 0 auto; */
}

.common-pricing-card {
  border: 2px solid #e5e7eb;
  border-radius: 0.75rem;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.package-details {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pricing-card-divider {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  color: #e5e7eb;
}
.package-features {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.package-features ul {
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.package-features ul li {
  color: #2563eb;
  font-size: 13px;
}
.package-features ul li span {
  color: #333333;
}
.pricing-button {
  width: 80%;
  margin: 20px auto 30px;
  background-color: white;
  color: #2563eb;
  border: 1px solid #2563eb;
  font-size: 14px;
  font-weight: 600;
}

.package-type {
  font-size: 13px;
  color: #888888;
  font-weight: 600;
}

.package-unit {
  font-size: 13px;
  color: #888888;
}

.package-price {
  color: #0d1b2a;
  font-size: 44;
  font-weight: bold;
}
